<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}" data-textdirection="ltr" class="loading">
{{ partial "head.html" . }}
<body class="vertical-layout vertical-compact-menu 2-columns   fixed-navbar menu-hide" data-open="click" data-menu="vertical-compact-menu" data-col="2-columns">
<div class="app-content content">
<div class="content-wrapper">
<div class="alert alert-danger alert-dismissible mb-2" role="alert" id="failedloadwindow" hidden>
<button type="button" class="close" aria-label="Close" id="closefalert">
<span aria-hidden="true">×</span>
</button>
</div>
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</div>
</div>
</body>
</html>
