{{ $data := index site.Data site.Language.Lang }}
{{ if $data.amy.amy.enable }}
{{ with $data.amy.amy }}
<div class="p-5 text-center " >
<div class="container">
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
  <div class="row p2">
    <div class="col">
      <img src="{{ .bg_image | absURL }}" class="d-block mx-lg-auto img-fluid" alt="AMY ERP/CRM Logo" width="250" height="250" loading="lazy">

    </div>
    <div class="col text-start">
      <h1 class="text-white">{{ .title | markdownify }}</h1>
      <p class="lead mb-4 text-white">{{ .content | markdownify }}</p>
      {{ range .about_item }}
      {{"<!-- About item -->" | safeHTML}}
          <div class="icon-box">
          </div>

<div >
          <div class="text-white">-	{{ .title | markdownify }}</div>
</div>

      {{ end }}
    </div>
    <div style="row p4 mt text-end" >
      <div class="col">
      </div>
      <div class="col  text-end" style="margin-top:40px;">
    		{{ if .button.enable }}
    		{{ with .button }}
        <a  href="{{ .link }}" target="{{ .target }}" class=" btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</a>
    		{{ end }}
    		{{ end }}
        </div>
    		</div>

  </div>
  </div>
</div>
{{end}}
{{end}}
