{{ $data := index site.Data site.Language.Lang }}
{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
<section>
<div class="p-5 text-center bg-image" style="background-image: url('{{ .bg_image | absURL }}'); background-position: -200px -50px;">
  <div class="d-block d-sm-none">
    {{"<!-- Smartphone  View -->" | safeHTML}}
    <div class="container">
    <div class="row">
      <div class="col">
  <div class="text-end">
    <div class="display-1 fw-bold text-white">{{ .title | markdownify }}</div>
    </div>
    <div class="row p-4"></div>
    <div class="col p-4 text-start">
      <p class="  mb-4 text-white ">{{ .content | markdownify }}</p>

</div>
  <div class="row ">
      <div class="col">
      <div class="social-icon-sm float-end">
      <ul>
        {{ range site.Params.social }}
        <li class="list-group "><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
      </div>
      </div>

</div>



  {{ if .button.enable }}
  {{ with .button }}
  <div class="row">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button"  data-bs-toggle="modal" data-bs-target="#consultingModal" class="btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</button>
  </div>
    </div>
  {{ end }}
  {{ end }}
  </div>
  </div>
  </div>
  </div>

  <div class="d-none d-sm-block d-lg-none">
      {{"<!-- Tablet  View -->" | safeHTML}}
      <div class="container">
      <div class="row">

        <div class="col">
      <h1 class="display-5 fw-bold text-white">{{ .title | markdownify }}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-white">{{ .content | markdownify }}</p>
</div>
</div>
<div class="row fs-6">
  <div class="col">
    </div>

      <div class="col">
      <ul class="list-unstyled text-white">
        {{ range .about_item }}
        {{"<!-- About item -->" | safeHTML}}
      <li class="text-start fw-lighter fs-6 ">{{with .icon}}<i class="ti {{ . }}"></i>{{ end }} {{ .title | markdownify }}</li>
    {{ end }}
    </ul>
  </div>
</div>
    <div class="row">
    <div class="social-icon-sm">
    <ul>
      {{ range site.Params.social }}
      <li class="list-inline-item "><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
      {{ end }}
    </ul>
    </div>

</div >

    {{ if .button.enable }}
    {{ with .button }}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button"  data-bs-toggle="modal" data-bs-target="#consultingModal" class="btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</button>
    </div>
    {{ end }}
    {{ end }}


    </div>
    </div>
  </div>

  <div class="d-none d-lg-block ">
    {{"<!-- Desktop View -->" | safeHTML}}
    <div class="container">
    <div class="row">
      <div class="col ">
  <div class="row">
    <div class="col ">
  <img class="d-block mx-auto mb-4 float-start" src="{{ .monogramma | absURL }}" alt="" width="150" >
  </div >
  </div>
  <div class="row ">
    <div class="col">

      <div class="position-absolute bottom-0 start-0">
      <div class="block ">
      <div class="social-icon">
      <ul>
        {{ range site.Params.social }}
        <li class="list-inline-item "><a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>
      </div>

  </div>
  </div>
  </div>
  </div>
      </div>
      <div class="col-8">
    <h1 class="display-5 fw-bold text-white">{{ .title | markdownify }}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">{{ .content | markdownify }}</p>

    <ul class="list-unstyled text-white d-none d-sm-block">
      {{ range .about_item }}
      {{"<!-- About item -->" | safeHTML}}
    <li class="text-start fw-lighter text-nowrap p-2">{{with .icon}}<i class="ti {{ . }}"></i>{{ end }} {{ .title | markdownify }}</li>
  {{ end }}
  </ul>
  {{ if .button.enable }}
  {{ with .button }}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button"  data-bs-toggle="modal" data-bs-target="#consultingModal" class="btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</button>
  </div>
  {{ end }}
  {{ end }}
  </div>
  </div>
  </div>
  </div>
</div>


</div>
</section>
{{end}}
{{end}}
