{{ $data := index site.Data site.Language.Lang }}
{{ if $data.bloger.bloger.enable }}
{{ with $data.bloger.bloger }}
<div class="p-5 text-center bg-image vh-100" style="background-image: url('{{ .bg_image | absURL }}'); background-size: cover;">
<div class="container">
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
  <div class="row p2">
    <div class="col text-start">
      <h1 class="text-white">{{ .title | markdownify }}</h1>
      <p class="lead mb-4 text-white">{{ .content | markdownify }}</p>
      <div class=" mb-4 text-white">
  		<p>{{ .contentb | markdownify }}</p>
  		</div>

    </div>
    <div style="row p4 mt text-start" >
      <div class="col  text-start" style="margin-top:10px;">
        {{ if .button.enable }}
    		{{ with .button }}
    		<a href="{{ .link }}" target="{{ .target }}"  class="btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</a>
    		{{ end }}
    		{{ end }}
    		{{ if .button2.enable }}
    		{{ with .button2 }}
    		<a href="{{ .link }}" target="{{ .target }}"  class="btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</a>
    		{{ end }}
    		{{ end }}
        </div>
    		</div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  </div>
</div>
{{end}}
{{end}}
