{{ $data := index site.Data site.Language.Lang }}

{{ if $data.bloger.bloger.enable }}
{{ with $data.bloger.bloger }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img class="d-none" src="{{ .bg_image_webp | absURL }}" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'"/>
	<div class="block">
		{{ if .icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
<h1>{{ .title | markdownify }}</h1>
		<p>{{ .content | markdownify }}</p>
		<div style="margin-top:40px;">
		<p>{{ .contentb | markdownify }}</p>
</div>

<div style="margin-top:40px;">
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" target="{{ .target }}"  class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
		{{ if .button2.enable }}
		{{ with .button2 }}
		<a href="{{ .link }}" target="{{ .target }}"  class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
		</div>
	</div>
	<div class="block" >


<h1 >&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</h1>
{{"<!-- Footer Social Links -->" | safeHTML}}

	</div>


</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
