{{ $data := index site.Data site.Language.Lang }}
{{ if $data.consulting.consulting.enable }}
{{ with $data.consulting.consulting }}
<div class="p-5 text-center bg-image vh-100" style="background-image: url('{{ .bg_image | absURL }}'); background-size: cover;">
<div class="container">
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
  <div class="row p2">
    <div class="col text-start">
      <h1 class="text-white">{{ .title | markdownify }}</h1>
      <p class="lead mb-4 text-white">{{ .content | markdownify }}</p>
      {{ range .about_item }}
      {{"<!-- About item -->" | safeHTML}}
          <div class="icon-box">
          </div>
          {{"<!-- Express About Yourself -->" | safeHTML}}
<div >
          <div class="text-white">-	{{ .title | markdownify }}</div>
</div>

      {{ end }}
    </div>
    <div style="row p4 mt text-start" >
      <div class="col  text-start" style="margin-top:40px;">
    		{{ if .button.enable }}
    		{{ with .button }}
        <button  type="button"  data-bs-toggle="modal" data-bs-target="#consultingModal" class=" btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</button>
    		{{ end }}
    		{{ end }}
        </div>
    		</div>
    <div class="col">
    </div>
  </div>
  </div>
</div>
{{end}}
{{end}}
