{{ $data := index site.Data site.Language.Lang }}
{{ if $data.speaker.speaker.enable}}
{{ with $data.speaker.speaker}}
<div class="call-to-action section-sm bg-1 overly" style="background-image: url('{{ .bg_image | absURL }}'); background-size: cover;">
<div class="container">
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
<div class="row p-4"></div>
  <div class="row p2">
    <div class="col text-start">
      <h1 class="text-white">{{ .title | markdownify }}</h1>
      <p class=" mb-4 text-white">{{ .content | markdownify }}</p>

    </div>
    <div style="row p4 mt text-start" >
      <div class="col  text-start" style="margin-top:40px;">
    		{{ if .button.enable }}
    		{{ with .button }}
        <button  type="button"  data-bs-toggle="modal" data-bs-target="#consultingModal" class=" btn btn-primary btn-lg px-4 gap-3 fs-6 text-nowrap">{{ .label }}</button>
    		{{ end }}
    		{{ end }}
        </div>
    		</div>
    <div class="col  mb-4">
    </div>
  </div>
  </div>
</div>
{{end}}
{{end}}
